:root{
    --orange: #E76F51;
}

html{
    box-sizing: border-box;
    /* font-size: 10px; */
    font-size: 62.5%;  /*10px*/
}

*,*:after, *:before{
    box-sizing: initial;
}

body{
    line-height: 1.6;
    font-size: 1.6rem;
    font-family: "Roboto";
    transition: 0.2s linear;


}

/*

--Reset Style--

*/


a{
    text-decoration: none;
}





/* --Helper Class-- */







/* --App Style-- */


.header{
    background: linear-gradient(rgba(59,55,53,0.5), rgba(59,55,53,0.5)), url("../images/header-bg.jpg");
    background-position: center;
    background-size: cover;

}

.nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem 0;

}
.app-logo{
display: block;
width: 5.5rem;
height: 5.5rem;
}
.app-logo__img{
width: 100%;
height: 100%;
}
.menu{
    display: none;
}
.menu__item{

}
.menu__link{

}
.nav-menu{
display: none;
}
.mobile-menu{

}
.mobile-menu__item{

}
.mobile-menu__link{

}
.nav-menu__links{

}
.nav-menu__link{

}
.nav-menu_link {

}
.nav-menu__link--border{

}
.header__links{
display:none;
}
.header__link{

}
.header__link {

}
.header__link--border{

}
.nav__btn{
background-color: #fff;
width: 5.5rem;
height: 5.5rem;
border-radius: 2rem;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.nav__btn-line{
display: block;
width: 3rem;
height: 0.3rem;
border-radius: 2rem;
background-color: var(--orange);
position:relative;
}

.nav__btn-line::before,
.nav__btn-line::after{
content: '';
position: absolute;
width: 3rem;
height: 0.3rem;
border-radius: 2rem;
background-color: var(--orange);
}

.nav__btn-line::before{
    top: -.8rem;
}

.nav__btn-line::after{
    top: .8rem;

}














